{% extends 'royalty_app/layout.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/loged_out_form.css'%}">
{% block content %}

<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .h3{
    text-align: center;
  }
</style>


<form  id="id_password_reset_form" method="POST" class="form-signin" onsubmit="return validateRecaptcha();">{% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
    <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required >
  <button id="id_submit_btn" class="btn btn-lg btn-primary btn-block" >Send reset email</button>  

  <script src='https://www.google.com/recaptcha/api.js'></script>

  <div class="form-group" style="margin-top: 80px; display: none;" id="captcha" >
      <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
      <p>This site is protected by reCAPTCHA and the Google
          <a href="https://policies.google.com/privacy">Privacy Policy</a> and
          <a href="https://policies.google.com/terms">Terms and Conditions</a> apply.
      </p>
  </div>
</form>

{% load static %}
<link rel="stylesheet" href="{% static 'royalty_app/style.css'%}">
<script src="{% static 'royalty_app/dropdown_single.js'%}"></script>
<script src="{% static 'royalty_app/password_reset_form.js'%}"></script>


{% endblock %}



