{% extends 'royalty_app/layout.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/loged_out_form.css'%}">
{% block content %}

<div style="color: transparent; height: 0.001px;"> _</div>
<div id="logon_frame_l1" class="logon_frame_l1">
  <div class="logon_red-band"></div>
  <div class="logon_grey-band"></div>
  <div style="text-align: right"><img src="{% static 'photo/logo_me.png' %}" style="width: 120px;margin: 10px 30px 0px 0px " ></div>
  <b class="logon_top-message">Reset your password</b>
  <div  class="logon_frame_l2">
    <div class="logon_frame_l3">
      <b>Enter your user information and click on Reset.</b>

      <form id="id_password_reset_form"  method="post" onsubmit="spinner()">
        <div class="logon_frame_l4"> 
          {% csrf_token %}
          <div style="margin:30px auto 30px auto; max-width: 400px;">
            <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required >
          </div>
        </div> 
        <div class="form-group">
          <input id="id_submit_btn" class="btn btn-primary form-control " type="submit" value="Reset">
        </div>
        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
  
        <div>
           Already have an account? <a href="{% url 'login' %}">Log In here.</a>
       </div>
  
  
  
  
        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response"> 
      </form>
    </div>

  </div>


</div>



{% load static %}
<link rel="stylesheet" href="{% static 'royalty_app/style.css'%}">


{% endblock %}



