
  .form_log {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form_log .checkbox {
    font-weight: 400;
  }
  .form_log .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form_log .form-control:focus {
    z-index: 2;
  }
  .form_log input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .h3{
    text-align: center;
  }