{% extends "royalty_app/layout.html" %}
{% block content %}
{% load static %}


  <!----------------------------------------------------------------------------->
  <!----------------------------Main table-------------------------------->
  <!----------------------------------------------------------------------------->
  <div style="color: transparent; height: 0.001px;"> _</div>
    {% if user.is_authenticated %}
        <span>you are already logged in, click <a  href="{% url 'logout' %}"  > here</a> to log out</span>
    {% else %}

    <div   id="logon_frame_l1" class="logon_frame_l1">
       <div class="logon_red-band"></div>
       <div class="logon_grey-band"></div>
       <div style="text-align: right"><img src="{% static 'photo/logo_me.png' %}" style="width: 120px;margin: 10px 30px 0px 0px " ></div>
       <b class="logon_top-message">Register for free to SwissRoy</b>
       <div class="logon_frame_l2">
         <div class="logon_frame_l3">
           <b>Enter your user information and click on Register.</b>
  
           <form action="{% url 'register' %}" redirect="{% url 'home' %}" method="post" id="form_login">
             <div class="logon_frame_l4"> 
               {% csrf_token %}
               <div style="margin:30px auto 30px auto; max-width: 400px;">
                <div>
                    {% if error_message %}
                        <div style="margin-bottom:10px">
                            {% for mess in error_message %}
                            <div style="color:red">{{ mess }}</div>
                            {% endfor %} 
                        </div>
                    {% endif %}
                    {% if message_confirmation %}
                        <div style="color:green">{{ message_confirmation }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <input class="form-control" type="first_name" name="first_name" placeholder="First Name" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="last_name" name="last_name" placeholder="Last Name" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email Address" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" required>
                </div>
               </div>
             </div> 
             <div class="form-group">
               <input class="btn btn-primary form-control "type="button" value="Register" onclick="isauthenticated_form(this.form)">
             </div>
             <input type="hidden" name="next" value="{{ request.GET.next }}"/>
       
             <div>
                Already have an account? <a href="{% url 'login' %}">Log In here.</a>
            </div>
       
       
       
       
             <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response"> 
           </form>
         </div>
 
       </div>
 
 
     </div>
 










    
 




    {% endif %} 


    {% load static %}

    <link rel="stylesheet" href="{% static 'royalty_app/style.css'%}">

{% endblock %}


  