django
gunicorn
whitenoise #manage static file
psycopg2 # postgres, not to be install on local environment
Django-environ #used to grab environment data

django-on-heroku
numpy
pandas
openpyxl
xlwt
pyyaml
msal
django-excel
pyexcel-xlsx
xlsxwriter
django-cleanup #deletes the file in Media

python-dateutil

django_storages
boto3 #to use WSL to store PDF file

pillow #to handle image
django_resized #resize the profile picture

