django
gunicorn
whitenoise #manage static file
psycopg2 # postgres, not to be install on local environment
Django-environ #used to grab environment data

django-on-heroku
numpy
pandas
openpyxl
xlwt
pyyaml
msal
django-excel
pyexcel-xlsx
xlsxwriter
django-cleanup #deletes the file in Media

python-dateutil



boto3 #to use WSL to store PDF file

pillow #to handle image
django_resized #resize the profile picture

django-filter==2.4.0
django-email-verification
django-storages== 1.11.1 #access to AWS

django-debug-toolbar==3.2.1 
SQLAlchemy==1.4.22 #in order to load data in POSTGRES database

django-cookie-consent