django
gunicorn
whitenoise #manage static file
psycopg2 # postgres, not to be install on local environment
Django-environ #used to grab environment data

django-on-heroku
numpy
pandas
openpyxl
xlwt
pyyaml
msal
django-excel
pyexcel-xlsx
xlsxwriter
django-cleanup #deletes the file in Media

python-dateutil

cloudinary==1.17.0 # Media file on the cloud
django-cloudinary-storage==0.2.3

