

      <form id="id_password_reset_form" class="form_log">
        <h1 class="h3 mb-3 font-weight-normal"></h1>
        <div style="margin:10px" class="form-signin">
        {% if success %}
            {% load static %}
            <h4> Welcome {{ user.first_name }}</h4>
            <div> your account is confirmed!, click <a href="{% url 'login' %}" > here</a>  to login</div>
        {% else %}
            <div>Error, invalid token!</div>
            <div>Make sure your link is not expired, otherwise contact your administrator</div>
        {% endif %}
        </div>
      </form>







