
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Confirmation</title>
</head>
<body>
    {% load static %}
<div>You are almost there, {{ user.first_name }}!</div><br>
<div>Please click <a href="{{ link }}">here</a> to confirm your account</div> 
<div>The token expires on {{ expiry|time:"TIME_FORMAT" }}</div>
<br>
<div>______________________________________<div>
<img src="https://static.wixstatic.com/media/40566b_18659aa8769a4fe0b90d1dc9b99d440b~mv2.png" style="width: 200px;" >
<div>PM-Conculting</div>

<div>tel: <a href="tel:+41782672050">+41 78 267 20 50<a></div>
    
<div>email: <a href="mailto: pierre.maisonnave.consulting@gmail.com">pierre.maisonnave.consulting@gmail.com<a></div>
<a href="https://www.linkedin.com/in/maisonnave"><img style="height:21px"src="https://content.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg.original.svg"  ></a>
<a href="https://www.pierre-maisonnave-consulting.ch"><img style="height:21px" src="https://static.wixstatic.com/media/40566b_ad18b6bb0b3e43d3a05bf4814a5abd2a~mv2.png" style="height:21px">  </a>

</body>
</html>


