
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Confirmation</title>
</head>
<body>
{% load static %}
<div>You are almost there, {{ user.first_name }}!</div><br>
<div>Please click on the link below to confirm your account</div> 
<div>The token expires on {{ expiry|time:"TIME_FORMAT" }}</div>
<div>{{ link }}</div>
<br>
<div>______________________________________<div><br>
<img src="https://swissroy-public.herokuapp.com/static/photo/logo_me_email.png" style="width: 200px;" >
<div>PM-Consulting</div>

<div>tel: <a href="tel:+41782672050">+41 78 267 20 50<a></div>    
<div>email: <a href="mailto: customer_service@swissroy.ch">customer_service@swissroy.ch<a></div>
<table>
    <tr>
        <td >
            <a  href="https://www.linkedin.com/in/maisonnave">
                <img  src="https://swissroy-public.herokuapp.com/static/photo/linkedin.png"  >
            </a>
        </td>
        <td>
            <a style="margin-left:5px" href="https://www.pierre-maisonnave-consulting.ch">
                <img src="https://swissroy-public.herokuapp.com/static/photo/minilogo_email.png" >
            </a>
        </td>
    </tr>







</body>
</html>


