body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

 #topbar {
  border-bottom: 1px rgba(0, 0, 0, .1) solid;
  width:100%;
  position: fixed
 }
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  /*position: -webkit-sticky;*/
  position: sticky;
  margin-top: 56px; /* Height of navbar */
  /*height: calc(100vh - 48px);*/
  padding-top: .5rem;
  /*overflow-x: hidden;
  overflow-y: auto;  Scrollable contents if viewport is shorter than content. */
}
#nav-top>li>a{
  color: #333;
  font-weight: 500;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: red;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

select.fname{
  border:0px;
  outline:0px;
  background-color: transparent;
}

.fname{
  border-style: hidden;
  background-color: transparent;
  width: 100%;
  min-width: 100%;
}
.search_box_class>th>input{
  border-style: none ;
  width: 100%;
  min-width: 100%;
}


.fname:focus{
  outline: none;
}

.button_td>button{
  margin-left: 2px;
  margin-right: 2px;
  border:0px;
  padding:0px
}

.button_sp{
  margin-left: 2px;
  margin-right: 2px;
  border:0px;
  padding:0px

}
.refresh{
  cursor:pointer;
  color: #6c757d;
}
.button_td{
   display:grid; 
   grid-template-columns: 25px 25px 25px;
   padding:0px;
   height:100%
}
#sidebarcolumn:focus{
  background-color:yellow; 
}

.select_all{
  cursor:pointer;
  color: #6c757d;
  font:caption ;
  font-size: .875rem
}
.export_checkbox{
  padding: 18px;
}



.region {
  cursor:pointer;
}

.user_section{
  cursor:pointer;
}

.user_section:hover{
  background-color: #efefef
}

.item_single_select{
  cursor:pointer;
}


#form_new{
  min-width:500px;
  display: grid;
  width: 100%;
  margin-bottom:10px;
  padding:5px;
  border: #dee2e6 solid;
  border-radius: 5px;
  background-color: rgba(0,0,0,.05)
}


.approve_button:hover{
  background-color: #e6f1e6;
}
.approve_button {
  width:100%;
  background-color:transparent
}
.reject_button:hover{
  background-color: #efdedf;
}

.reject_button{
  width:100%;
  background-color:transparent
}

.previous_value_button:hover{
  background-color: #d6cdcd;
}
.previous_value_button {
  width:100%;
  background-color:transparent
}

.dd_dashboard_style{
  margin-left:5px;
  width:100%;
  background-color:white;
  border: 0.5px solid rgb(118, 118, 118);
  padding:0px 5px
}
.select_all_box{
 cursor: pointer;
 font-weight: normal;
 font-family: arial; 
 font-size: 0.800rem; 
 color:#6c757d"
}

