{% extends "royalty_app/layout.html" %}
{% block content %}



      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Consolidation Currency</h1>

      </div>
      <h4></h4>
  <!----------------------------------------------------------------------------->
  <!----------------------------Main table-------------------------------->
  <!----------------------------------------------------------------------------->

    <table class="table table-striped table-sm" id="main_table" style=" max-width: 500px">
      <thead>
        <tr style="border-top: hidden">
          <th style="color:transparent">:</th>
          <th  style="text-align: end; color:green" id="saved_message"></th>
        </tr>
        <tr >
          <th >Currency</th>
          <th style="width: 30px">
            <button   class="btn btn-sm btn-outline-success" title="save" onclick="save()" style="border:0px" ><span class="bi bi-save2-fill"></span></button>
          </th>
        </tr>
      </thead>
      <tbody id="tbody_main_table">
        <tr >
          <td colspan="2"> <!--column0-->
            <select  style="width:100%;background-color: transparent;border-style: hidden;">
              <option disabled selected></option>
              {% for c in currency_list %}
                {% if consolidation_currency.currency == c  %} 
                  <option value={{c.currency}} selected="selected">{{c.currency}}</option>
                {% else %}
                  <option value={{c.currency}} >{{c.currency}}  </option>
                {% endif %}
              {% endfor %}
            </select>
          </td>
        </tr>
        <!--new row-->

      </tbody>
    </table>





{% load static %}
<script src="{% static 'royalty_app/consolidation_currency.js'%}"></script>
<link rel="stylesheet" href="{% static 'royalty_app/style.css'%}">
<script src="{% static 'royalty_app/dropdown_single.js'%}"></script>

{% endblock %}


  