{% extends "royalty_app/layout.html" %}
{% block content %}
{% load static %}


  <!----------------------------------------------------------------------------->
  <!----------------------------Main table-------------------------------->
  <!----------------------------------------------------------------------------->


  {% if user.is_authenticated %}
    <span>you are already logged in, click <a  href="{% url 'logout' %}"  > here</a> to log out</span>
  {% else %}


  <div style="color: transparent; height: 0.001px;"> _</div>
  <div id="welcomeContainer"> 
    <div><b>Make you life simple!</b></div>
    <div>The only management tool for license agreements and royalty calculation in the pharmaceutical world</div>
    
  </div>
   <div id="logon_frame_l1" >
      <div id="logon_red-band" ></div>
      <div id="logon_grey-band"></div>
      <div style="text-align: right"><img src="{% static 'photo/logo_me.png' %}" style="width: 120px;margin: 10px 30px 0px 0px " ></div>
      <b id="logon_top-message" >Log on to SwissRoy</b>
      <div id="logon_frame_l2">
        <div id="logon_frame_l3" >
          <b>Enter your user information and click on Log on.</b>
          <form action="{% url 'login' %}" redirect="{% url 'home' %}" method="post" id="form_login">
            <div  id="logon_frame_l4"> 
              {% csrf_token %}
              <div style="margin:30px auto 30px auto; max-width: 400px;">
                <div>
                  {% if error_message %}
                    <div style="margin-bottom:10px">
                      {% for mess in error_message %}
                        <div style="color:red">{{ mess }}</div>
                      {% endfor %} 
                    </div>
                  {% endif %}
                  {% if message_confirmation %}
                    <div style="color:green">{{ message_confirmation }}</div>
                  {% endif %}
                </div>
                <div class="form-group" >
                    <input autofocus class="form-control" type="email" name="username" placeholder="Email" >
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
              </div>
            </div> 
            <div class="form-group">
              <input type="button" class="btn btn-primary form-control " value="Log on" onclick="isauthenticated(this.form)">
            </div>
            <input type="hidden" name="next" value="{{ request.GET.next }}"/>
      
            <div>Don't have an account? <a href="{% url 'register' %}">Register here for free.</a> </div> 
            <div> Forgot Password? <a href="{% url 'password_reset' %}">click here.</a> </div> 
      
      
      
      
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response"> 
          </form>
        </div>

      </div>


    </div>







  {% endif %} 


  <link rel="stylesheet" href="{% static 'royalty_app/style.css'%}">


{% endblock %}


  