{% extends "royalty_app/layout.html" %}
{% block content %}


  <main role="main" class="col-md-9  col-lg-10 pt-3 px-4 " style="visibility: hidden;">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="h2">Partners </h1>
      <div class="btn-toolbar mb-2 mb-md-0">


      </div>
    </div>
  
  <!------------------------------------------------------------------------------------->   
  <!---------------------------Form for new partners-------------------------------------> 

    <form   id="form_new" > 
      <table>
        <tr><!--Row 1-->
          <td ><!--Name-->
            <span style="width: 100%; margin-left:5px;">New Partner:</span>
          </td>
        </tr>
        <tr><!--Row 2-->
          <td style="width: 150px;"><!--M3 Code-->
            <input type="text" id="partner_m3_code_new" placeholder="Partner Code" name="partner_m3_code" maxlength="50" style="width: 100%; margin-left:5px;">
          </td>
          <td> <!--Name-->
            <input type="text" id="name_new" name="partner_name" placeholder="name here" maxlength="100" style="width: 100%; margin-left:5px;">
          </td>
          <td  class="comboTreeWrapper"> <!--Country List-->
            <div style="width: 100%; margin-left:5px;">
              {% if country_list %}
                <div  class="comboTreeInputWrapper" dd_id="new_country">
                  <input type="text"   class="justAnInputBox comboTreeInputBox" placeholder="Country" readonly dd_id="new_country" id="displayed_item_name_new_country" >
                  <input type="text"   hidden id="hidden_item_code_new_country">
                </div>
                <div  class="comboTreeDropDownContainer" id="dropdown_new_country" style="display: none;">
                  <input  type="text" class="multiplesFilter" placeholder="Type to filter" dd_id="new_country" >
                    <ul  >
                    {% for region in region_list %}  
                      <li  >
                        <span class="bi-arrow-down-circle comboTreeParentPlus" dd_id="new_country" region_id={{region.id}} ></span>
                        <span class="region" dd_id="new_country">{{region.region}}</span>
                        <ul style="display: block;" id="new_country_{{region.id}}">
                            {% for country in country_list %}
                              {% if region == country.country_region%}
                              <li style="display: block;" class="item_single_select" dd_id="new_country">
                                <span>{{ country.country_id }}</span><span> : </span><span>{{ country.country }}</span>
                              </li>
                              {% endif %}
                            {% endfor %}
                        </ul>
                      </li>
                    {% endfor %}
                      
                    </ul>
                </div>
              {% else %}
                <input type="text" readonly placeholder="Countries: Empty"  style="width:100%" title="please insert Countries in static data tab" id="displayed_item_name_new_country">
                <input type="text"   hidden id="hidden_item_code_new_country">
                {% endif %}
            </div>
          </td>
        </tr>
        <tr > <!--Row 3-->
          <td><!--ico_3rd-->
            <select style="width: 100%; margin-left:5px; padding:1px" id="new_ico_3rd">
              <option value="3rd">3rd</option>
              <option value="ICO">ICO</option>
            </select>
         </td>
          <td><!--payment list-->
            <div style="width: 100%; margin-left:5px;">
              {% if payment_type_list %}
                <div  class="comboTreeInputWrapper" dd_id="new_payment">
                  <input type="text"   class="justAnInputBox comboTreeInputBox" placeholder="payment type" readonly dd_id="new_payment" id="displayed_item_name_new_payment" >
                  <input type="text"   hidden id="hidden_item_code_new_payment">
                </div>
                <div  class="comboTreeDropDownContainer" id="dropdown_new_payment" style="display: none;">
                  <input  type="text" class="multiplesFilter" placeholder="Type to filter" dd_id="new_payment" >
                    <ul  >
                      {% for payment_type in payment_type_list %}
                        <li style="display: block;" class="item_single_select" dd_id="new_payment">
                          <span>{{ payment_type.id }}</span><span> : </span><span>{{ payment_type }}</span>
                        </li>
                      {% endfor %}
                    </ul>
                </div>
              {% else %}
                <input type="text"   hidden id="hidden_item_code_new_payment">
                <input type="text" readonly placeholder="payment type: Empty"  style="width:100%" title="please insert payment_type in static data tab" id="displayed_item_name_new_payment" >
              {% endif %}
            </div>
          </td>
          <td><!--Bank-->
            <input type="text"  id="bank_new" name="partner_bank_account" placeholder="bank account here" maxlength="100"style="width: 100%; margin-left:5px;">
          </td>
        </tr >

        <tr > <!--Row 5-->
          <td colspan="2"><!--message-->
            <div style="width: 100%; margin-left:5px;">
              <div id="message_save" style="color: green;" hidden > Item saved</div>
              <div id="message_error" style="color: red;" hidden > error: some fields are missing</div>
          </div>
          </td>
          <td ><!--Button-->
            <div style="width: 100%; text-align: end; margin-left:5px;">
              <button class="btn btn-sm btn-outline-success" type="button" onclick="add_new_record()"><span class="bi bi-save2-fill"></span></button>
              <button class="btn btn-sm btn-outline-warning"  type="reset" title="cancel"> <span class="bi bi-x-circle"></span></button>
            </div>
          </td>
        </tr>
      </table> 
    </form>

  <!------------------------------------------------------------------------------------->   
  <!---------------------------Partners Table-------------------------------------------->   

<!----setting to unhide/hide column--->  
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom" >
    <div></div>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary" type="button" onclick="column_sel()" title="column selection" ><span class="bi bi-gear"></span> </button>
      </div>
      <div class="btn-group mr-2">
        <a class="btn btn-sm btn-outline-secondary" href="/export/partner"><span class="bi bi-download"></span> download </a>
      </div>

    </div>
  </div> 
  <div id="column_selection" style=" display:none" >
    <table class="table table-striped table-sm" id="beneficiary_table" >
      <thead>
        <tr >
          <th  > </th>
          <th ></th>
        </tr>
      </thead>
      <tbody>

        <tr >
          <td ><input type="checkbox" checked value=1 onclick="column_visibility(this,1)"></td>
          <td >Partner Code</td>
          <td ><input type="checkbox" checked value=2 onclick="column_visibility(this,2)"></td>
          <td >Name</td>
          <td ><input type="checkbox" checked value=3 onclick="column_visibility(this,3)"></td>
          <td >ICO-3rd</td>
         </tr >
         <tr >
          <td ><input type="checkbox" checked value=4 onclick="column_visibility(this,4)"></td>
          <td >Country</td>
          <td ><input type="checkbox" checked value=5 onclick="column_visibility(this,5)"></td>
          <td >Bank account</td>
          <td ><input type="checkbox" checked value=6 onclick="column_visibility(this,6)"></td>
          <td >Payment type</td>

        </tr>
        
      </tbody>
    </table>
  </div> 


    <div class="table-responsive">
      <table class="table table-striped table-sm " id="partners_table" style="width: 100%;">
        <thead>
          <tr class="search_box_class">
            <th style="padding-left:8px"><input  id="column0_search"  class="fname2" placeholder="..." column=0> </th>
            <th style="padding-left:8px"><input  id="column1_search"  class="fname2" placeholder="..." column=1> </th>
            <th style="padding-left:8px"><input  id="column2_search"  class="fname2" placeholder="..." column=2>  </th>
            <th style="padding-left:8px"><input  id="column3_search"  class="fname2" placeholder="..." column=3> </th>
            <th style="padding-left:8px"><input  id="column4_search"  class="fname2" placeholder="..." column=4> </th>
            <th style="padding-left:8px"><input  id="column5_search"  class="fname2" placeholder="..." column=5> </th>
            <th style="padding-left:8px"><input  id="column6_search"  class="fname2" placeholder="..." column=6> </th>
            <th style="padding-left:8px"></th>
          </tr>
          <tr style="height:65px">
            <th id="partner_id" style="padding-left: 8px; width:20px">ID  </th>
            <th id="partner_M3" style="padding-left: 8px;max-width:90px">Partner Code</th>
            <th id="partner_name" style="padding-left: 8px;">Name</th>
            <th id="partner_name" style="padding-left: 8px;">Ico-3rd</th>
            <th id="partner_country" style="padding-left: 8px;">Country</th>
            <th style="padding-left: 8px;">Bank account</th>
            <th style="padding-left: 8px;">Payment type</th>
            <th ></th>
          </tr>
        </thead>
        <tbody id="tbody_partner">
          {% for partner in partner_list %}
            <tr id="partner_{{partner.id}}" partner_id={{partner.id}}> 
              <td><!--ID-->
                <span class="fname" partner_id={{partner.id}} id="id_{{partner.id}}" >{{partner.id}}</span>
              </td>
              <td><!--M3 Code-->
                <span hidden=true id="span_m3_code_{{partner.id}}">{{partner.partner_m3_code}}</span>
                <input type="text" class="fname" partner_id={{partner.id}} id="m3_code_{{partner.id}}" placeholder="Partner Code" value='{{partner.partner_m3_code}}'>
              </td>
              <td><!--Name-->
                <span hidden=true id="span_name_{{partner.id}}">{{partner.partner_name}}</span>
                <input type="text" class="fname" partner_id={{partner.id}} id="name_{{partner.id}}" placeholder="name" value='{{partner.partner_name}}'>
              </td>
              <td ><!--Ico_3rd-->
                <span hidden=true id="span_ico_3rd_{{partner.id}}">searched_value:{{partner.ico_3rd}}</span>
                <select id="ico_3rd_{{partner.id}}" style="width:100%;background-color: transparent;border-style: hidden;" partner_id={{partner.id}}>
                  {% if "3rd" == partner.ico_3rd  %}
                    <option value="3rd" selected="selected">3rd</option>
                    <option value="ICO" >ICO</option>
                  {% else%}
                    <option value="3rd" >3rd</option>
                    <option value="ICO"selected="selected" >ICO</option>
                  {% endif %}
                </select>
              </td>

              <td><!--Country-->
                <span hidden=true  id="span_country_{{partner.id}}">searched_value:{{partner.partner_country.country_id}} </span>
                <select partner_id={{partner.id}}  class="fname" id="country_{{partner.id}}">
                  {% for region in region_list %}  
                    <optgroup label={{region.region}}>
                      {% for country in country_list %}
                        {% if region == country.country_region%}
                          {% if country == partner.partner_country  %}
                            
                            <option value="{{ country.country_id }}" selected="selected">{{ country.country_id }}:{{ country.country }}   </option> 
                          {% else %}
                            <option value="{{ country.country_id }}"> {{ country.country_id }}:{{country.country}} </option>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </optgroup>
                  {% endfor %}
                </select>
              </td>
              <td><!--Bank-->
                <span hidden=true id="span_bank_{{partner.id}}">{{partner.partner_bank_account}}</span>
                <input type="text" class="fname" partner_id={{partner.id}} id="bank_{{partner.id}}" placeholder="bank account here" value='{{partner.partner_bank_account}}'>
              </td>
              <td><!--payment ype-->
                <span hidden=true id="span_payment_type_{{partner.id}}">searched_value:{{partner.partner_payment_type}} </span>
                <select name="payment_type"  class="fname" name="new" partner_id={{partner.id}} id="payment_type_{{partner.id}}">
                    {% for payment_type in payment_type_list %}
                      {% if payment_type == partner.partner_payment_type  %}
                        <option value="{{ payment_type.id }}" selected="selected">{{ payment_type }}</option>
                      {% else%}
                        <option value="{{ payment_type.id }}">{{ payment_type }}</option>
                      {% endif %}
                    {% endfor %}
                </select>
              </td>
              <td class="button_td" ><!--Button-->
                <button class="btn btn-sm btn-outline-danger" title="delete" name="delete" partner_id={{partner.id}} id="delete_{{partner.id}}" onclick="delete_row('{{partner.id}}')"><span class="bi bi-trash"></span></button>
                <button class="btn btn-sm btn-outline-success" title="save modification" partner_id={{partner.id}} name="change" id="change_{{partner.id}}" hidden=true onclick="change_row('{{partner.id}}')"><span class="bi bi-save2-fill"></span></button>
                <button class="btn btn-sm btn-outline-warning" title="cancel modification" partner_id={{partner.id}} name="cancel" id="cancel_{{partner.id}}" onclick="cancel_row_partner('{{partner.id}}')" hidden=true><span class="bi bi-x-circle"></span></button>
              </td>
            </tr>
          {% endfor %}
        </tbody>     
      </table>
    </div>

  <!-------------------------------------------------------------------------------------> 
  <!--------------------------------Hidden List------------------------------------------> 
    <div  hidden=true> 
      <select partner_id=""  class="fname" id="country_newlist" ><!--country hidden list-->
        {% for region in region_list %}  
          <optgroup label={{region.region}}>
            {% for country in country_list %}
              {% if region == country.country_region%}
                  <option value="{{ country.country_id }}"> {{ country.country_id }}:{{country.country}} </option>
              {% endif %}
            {% endfor %}
          </optgroup>
        {% endfor %}
      </select>

      <select name="payment_type"  class="fname"  partner_id="" id="payment_type_newlist"><!--payment list-->
        {% for payment_type in payment_type_list %}
        <option value="{{ payment_type.id }}">{{ payment_type }}</option>
        {% endfor %}
      </select>
    </div> 

{% load static %}
  
    <link rel="stylesheet" href="{% static 'royalty_app/style.css'%}">
    <script src="{% static 'royalty_app/dropdown_single.js'%}"></script> 
    <script src="{% static 'royalty_app/partner.js'%}"></script> 

  </main>
{% endblock %}

