{% extends "royalty_app/layout.html" %}
{% block content %}



      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Register</h1>

      </div>
      <h4></h4>
  <!----------------------------------------------------------------------------->
  <!----------------------------Main table-------------------------------->
  <!----------------------------------------------------------------------------->
    {% if user.is_authenticated %}
        <span>log out to login again</span>
    {% else %}

        {% if error_message %}
            <div style="margin-bottom:10px">
                {% for mess in error_message %}
                <div style="color:red">{{ mess }}</div>
                {% endfor %} 
            </div>
        {% endif %}
        <form action="{% url 'register' %}" method="post" style="max-width:500px">
            {% csrf_token %}

            <div class="form-group">
                <input class="form-control" type="first_name" name="first_name" placeholder="First Name">
            </div>
            <div class="form-group">
                <input class="form-control" type="last_name" name="last_name" placeholder="Last Name">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <input class="btn btn-primary form-control" type="submit" value="Register">
            <input type="hidden" name="next" value="{{ request.GET.next }}"/>
            </form>

            Already have an account? <a href="{% url 'login' %}">Log In here.</a>

    {% endif %} 


    {% load static %}

    <link rel="stylesheet" href="{% static 'royalty_app/style.css'%}">
    <script src="{% static 'royalty_app/dropdown_single.js'%}"></script>

{% endblock %}


  