{% extends "royalty_app/layout.html" %}
{% block content %}


  <main role="main" class="col-md-9  col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Region</h1>

      </div>
      <h4></h4>
  <!----------------------------------------------------------------------------->
  <!----------------------------Main table-------------------------------->
  <!----------------------------------------------------------------------------->

    <table class="table table-striped table-sm" id="main_table" style=" max-width: 500px">
      <thead>
        <tr style="border-top: hidden">
          <th style="color:transparent">:</th>
          <th colspan="2" style="text-align: end; color:green" id="saved_message"></th>
        </tr>
        <tr >
          <th style="width: 50px">id</th>
          <th >Region_name</th>
          <th style="width: 30px">
            <button   class="btn btn-sm btn-outline-success" title="save" onclick="save()" style="border:0px" ><span class="bi bi-save2-fill"></span></button>
          </th>
        </tr>
      </thead>
      <tbody id="tbody_main_table">
        {% for r in region_list %}
        <tr >
          <td><!--column0-->
            <input disabled style="width:100%;background-color: transparent;border-style: hidden;"  previous_value="{{r.id}}" value="{{r.id}}">
          </td>

          <td><!--column1-->
            <input style="width:100%;background-color: transparent;border-style: hidden;"  value="{{r.region}}" type="text">
          </td>
          <td ><!--column2-->
            <button   class="btn btn-sm btn-outline-danger" title="delete" onclick="delete_row(this)" style="border:0px" ><span class="bi bi-trash"></span></button>
          </td>
        </tr>
        {% endfor %}
        <!--new row-->
        <tr id="new_tr">

          <td><!--column0-->
            <input disabled  style="width:100%;background-color: transparent;border-style: hidden;" placeholder="new"  >
          </td>

          <td><!--column1-->
            <input onchange="add_new_row(this)" style="width:100%;background-color: transparent;border-style: hidden;" >
          </td>
          <td ><!--column2-->
            <button  hidden class="btn btn-sm btn-outline-danger" title="delete" onclick="delete_row(this)" style="border:0px" ><span class="bi bi-trash"></span></button>
          </td>
        </tr>
      </tbody>
    </table>

     <!--dd for new beneficiary--> 
      <div hidden>
        <div id="column_0">
          <input disabled style="width:100%;background-color: transparent;border-style: hidden" placeholder="new"> 
        </div>
        <div id="column_1">
          <input onchange="add_new_row(this)" style="width:100%;background-color: transparent;border-style: hidden" > 
        </div>

        <div id="column_2">
          <button hidden class="btn btn-sm btn-outline-danger" title="delete" onclick="delete_row(this)" style="border:0px"><span class="bi bi-trash" ></span></button> 
        </div>
      </div>

</main>


{% load static %}
<script src="{% static 'royalty_app/region.js'%}"></script>
<link rel="stylesheet" href="{% static 'royalty_app/style.css'%}">


{% endblock %}


  