{% extends "royalty_app/layout.html" %}
{% block content %}



      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">{{contract.contract_name}}  ({{contract.contract_currency}})</h1><div hidden id="contract_currency">{{contract.contract_currency}}</div>

      </div>
  <!----------------------------------------------------------------------------->
  <!----------------------------Contract saved in PDF---------------------------->
  <!----------------------------------------------------------------------------->
      <div style="display:grid; grid-template-columns: 20px auto">
        <span  class="bi-arrow-right-circle " id="unhide_contract_file_table" onclick='unhide_table("contract_file_table")'></span>
        <span hidden class="bi-arrow-down-circle " id="hide_contract_file_table" onclick='hide_table("contract_file_table")'></span>
        <h5 >Contract in PDF</h5>
      </div>

      <table hidden class="table table-striped table-sm" id="contract_file_table" style="max-width: 500px">
        <thead>
          <tr >
            <th >
              <input  type="file" name="loaded_file" id="fileSelect" accept=".pdf"  style="width: 100%" onchange="new_contract_file({{contract.id}})">
            </th>
            <th >

             </th>
          </tr>
        </thead>
        <tbody>
          {% for cf in contract_file_list %}
          <tr >
            <td ><!--File Name-->
              <a href='{{cf.upload.url}}' target="_blank"><span class="fname"  >{{cf.name}}</span></a>
            </td>
            <td ><!--Button-->
              <button   class="btn btn-sm btn-outline-danger" title="delete" onclick="delete_contract_file(this,{{cf.id}})" style="border:0px" ><span class="bi bi-trash"></span></button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

  <!----------------------------------------------------------------------------->
  <!----------------------------Beneficiary table-------------------------------->
  <!----------------------------------------------------------------------------->

    <div style="display:grid; grid-template-columns: 20px auto">
      <span class="bi-arrow-right-circle " id="unhide_beneficiary_table" onclick='unhide_table("beneficiary_table")'></span>
      <span hidden class="bi-arrow-down-circle " id="hide_beneficiary_table" onclick='hide_table("beneficiary_table")'></span>
      <h5 >Beneficiaries</h5>
    </div>

    <table  hidden class="table table-striped table-sm" id="beneficiary_table" style="max-width: 500px">
      <thead>
        <tr >
          <th > Name</th>
          <th style="width: 80px">%</th>
          <th style="width: 50px; height: 45px;">
            <button   id="saved_button_beneficiary" class="btn btn-sm btn-outline-success" title="save" onclick="save_contract_partner({{contract.id}})" style="border:0px" ><span class="bi bi-save2-fill"></span></button>
            <div id="spinner_beneficiary" style="display: None;text-align: end">
              <div class="sk-chase" >
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
              </div>
            </div>
            <div style="text-align: end; color:green ;display: None;" id="saved_message_beneficiary" >Saved</div>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for cp in contract_partner_list %}
        <tr >
          <td ><!--Partner-->
            <select style="width:100%;background-color: transparent;border-style: hidden;">
              <option disabled selected></option>
              {% for p in partner_list %}
                {% if p == cp.partner %}
                  <option value={{p.id}} selected="selected">{{p.partner_name}}</option>
                {% else %}
                  <option value={{p.id}} >{{p.partner_name}}</option>
                {% endif %}
              {% endfor %}
            </select>
          </td>
          <td><!--percentage-->
            <input style="width:100%;background-color: transparent;border-style: hidden;" onchange="convert_percentage(this)" type="number" value={{cp.percentage}}>
          </td>
          <td ><!--Button-->
            <button   class="btn btn-sm btn-outline-danger" title="delete" onclick="delete_row_beneficiary(this,{{contract.id}})" style="border:0px" ><span class="bi bi-trash"></span></button>
          </td>
        </tr>
        {% endfor %}
        <tr id="new_beneficiary_tr">
          <td >
            <select onchange="add_new_row_beneficiary()" style="width:100%;background-color: transparent;border-style: hidden;">
              <option disabled selected>new</option>
              {% for p in partner_list %}
                <option value={{p.id}}>{{p.partner_name}}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <input style="width:100%;background-color: transparent;border-style: hidden;" onchange="convert_percentage(this)" type="number">
          </td>
          <td >
            <button  hidden class="btn btn-sm btn-outline-danger" title="delete" onclick="delete_row_beneficiary(this,{{contract.id}})" style="border:0px" ><span class="bi bi-trash"></span></button>
          </td>
        </tr>
      </tbody>
    </table>

     <!--dd for new beneficiary--> 
      <div hidden>
        <div id="hidden_select" >
            <select onchange="add_new_row_beneficiary()" style="width:100%;background-color: transparent;border-style: hidden;">
              <option disabled selected >new</option>
                {% for p in partner_list %}
                  <option value={{p.id}}>{{p.partner_name}}</option>
                {% endfor %}
            </select>
        </div>
        <div id="hidden_percentage">
          <input style="width:100%;background-color: transparent;border-style: hidden;" onchange="convert_percentage(this)" type="number"> 
        </div>

        <div id="hidden_button">
          <button hidden class="btn btn-sm btn-outline-danger" title="delete" onclick="delete_row_beneficiary(this)" style="border:0px"><span class="bi bi-trash" ></span></button> 
        </div>
      </div>
     
 

  <!----------------------------------------------------------------------------->
  <!----------------------------------Rule table--------------------------------->
  <!----------------------------------------------------------------------------->
    <div style="display:grid; grid-template-columns: 20px auto">
      <span class="bi-arrow-right-circle " id="unhide_rule_table" onclick='unhide_table("rule_table")'></span>
      <span hidden class="bi-arrow-down-circle " id="hide_rule_table" onclick='hide_table("rule_table")'></span>
      <h5 >Rules</h5>
    </div>

    <span hidden  id="unique_row_number">{{rule_list|length}}</span>
   <!--Rule table-->  
    <table hidden class="table table-striped table-sm" id="rule_table" >
      <thead>

        <tr >
          <th>Formulation</th>
          <th>country</th>
          <th>Type</th>
          <th>Period from</th>
          <th>Period to</th>
          <th>Tranche</th>
          <th>Amount</th>
          <th style="width: 50px; height: 45px;">
            <button  id="saved_button_rule" class="btn btn-sm btn-outline-success" title="save" onclick="save_rule({{contract.id}})" style="border:0px" ><span class="bi bi-save2-fill"></span></button>
            <div id="spinner_rule" style="display: None;text-align: end">
              <div class="sk-chase" >
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
              </div>
            </div>
            <div style="text-align: end; color:green ;display: None;" id="saved_message_rule" >Saved</div>
          </th>
        </tr>
      </thead>
      
      <tbody>
        {% for rule in rule_list %}
        <tr> 
          <td > <!--Formulation  -->
            <div onclick="import_form_list(this)" class="comboTreeWrapper" >
                <div  class="comboTreeInputWrapper" dd_id="form_{{forloop.counter0}}">
                  <input  value='{{ rule.formulation.all|join:"," }}' style="background-color:transparent; border-style: None " type="text"  class="justAnInputBox comboTreeInputBox" placeholder="Select" readonly dd_id="form_{{forloop.counter0}}" id="item_list_display_form_{{forloop.counter0}}">
                  <input   value='{{ rule.formulation.all|join:"," }}'  type="text" hidden  id="item_list_form_{{forloop.counter0}}" selection_mode=""> 
                </div>
              </div>
          </td>

          <td> <!--Country-->
            <div  onclick="import_country_list(this)" class="comboTreeWrapper ">
              <div  class="comboTreeInputWrapper" dd_id="ctry_{{forloop.counter0}}">
                <input value='{% if rule.country_incl_excl == "EXCLUDE" %}All{% if rule.country.all|join:"," != "" %} except : {% endif %}{% endif %}{{ rule.country.all|join:"," }}' style="background-color:transparent; border-style: None " type="text"  class="justAnInputBox comboTreeInputBox" placeholder="Select" readonly dd_id="ctry_{{forloop.counter0}}" id="item_list_display_ctry_{{forloop.counter0}}">
                <input  value='{{ rule.country.all|join:"," }}' type="text" hidden  id="item_list_ctry_{{forloop.counter0}}" selection_mode=""> 
              </div>
            </div>
          </td>
          
          <td><!--Qty or Rate-->
            <select class="fname"  onchange="qty_rate_tranche_change(this)">
                  <option value="RATE" {% if rule.field_type == 'RATE' %}selected{% endif  %}>RATE</option>
                  <option value="QTY" {% if rule.field_type == 'QTY' %}selected{% endif  %}>QTY</option>
            </select>
          </td>

          <td><!--Date From-->
            <input style="background-color:transparent; border-style: None; "  type="date" value={{rule.period_from|date:"Y-m-d"}}>
          </td>

          <td><!--Date To-->
            <input style="background-color:transparent; border-style: None "  type="date" value={{rule.period_to|date:"Y-m-d"}}>
          </td>

          <td><!--YES/NO Tranche-->
            <select class="fname"  onchange="qty_rate_tranche_change(this)">
                  <option value="NO" {% if rule.tranche_type == 'NO' %}selected{% endif  %}>NO</option>
                  <option value="YES" {% if rule.tranche_type == 'YES' %}selected{% endif  %}>YES</option>
            </select>
          </td>

          <td {% if rule.tranche_type == 'YES' or rule.field_type == 'QTY' %}hidden {% endif  %}><!-- Rate percentage-->
            <input style="width:100%;background-color: transparent;border-style: None;" placeholder="percentage" onchange="convert_percentage(this)" type="number" value={{rule.rate_value|floatformat:2}}>
          </td>

          <td {% if rule.tranche_type == 'NO' or rule.field_type == 'QTY' %}hidden {% endif  %}><!--table for tranches-->
            <table class="table table-striped " style="background-color:white">
              <thead>
                <tr>
                  <th>from</th>
                  <th>to ({{contract.contract_currency}})</th>
                  <th>rate</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for tranche in tranche_list %}
                  {% if tranche.rule == rule %}
                  <tr>
                    <td>{{tranche.from_amount|floatformat:"-3g"}}</td>
                    <td {% if tranche.to_amount == 0 %}onchange="add_row_tranche_rate(this)"{% endif %}>
                      <input value='{% if tranche.to_amount == 0 %}{% else %}{{tranche.to_amount|floatformat:"-3g"}}{% endif %}' onchange="new_to_value_tranche_rate(this)" class="number-separator" style="width:100%;background-color: transparent;border-style: None;" placeholder="infinity"  type="text">
                    </td>
                    <td>
                      <input value={{tranche.percentage}} style="width:100%;background-color: transparent;border-style: None;" placeholder="percentage" onchange="convert_percentage(this)" type="number">
                    </td>
                    <td>
                      <button  {% if tranche.to_amount == 0 %}hidden{% endif %} class="btn btn-sm btn-outline-danger" title="delete" onclick="delete_row_tranche_rate(this)" style="border:0px" ><span class="bi bi-trash"></span></button></td>
                  </tr>
                  {% endif %}
                {% endfor %}

                {% if rule.tranche_type == 'NO' or rule.field_type == 'QTY' %}
                <tr>
                  <td>0</td>
                  <td onchange="add_row_tranche_rate(this)">
                    <input onchange="new_to_value_tranche_rate(this)" class="number-separator" style="width:100%;background-color: transparent;border-style: None;" placeholder="sales"   type="text">
                  </td>
                  <td>
                    <input style="width:100%;background-color: transparent;border-style: None;" placeholder="percentage" onchange="convert_percentage(this)" type="number">
                  </td>
                  <td >
                    <button   hidden class="btn btn-sm btn-outline-danger" title="delete" onclick="delete_row_tranche_rate(this)" style="border:0px" ><span class="bi bi-trash"></span></button>
                  </td>
                </tr>
                {% endif %}
              <tbody>
            </table>
          </td>

          <td {% if rule.tranche_type == 'YES' or rule.field_type == 'RATE' %} hidden {% endif  %} style="display:grid; grid-template-columns: auto auto"><!-- Qty amount-->
            
            <input class="number-separator" style="width:100%;background-color: transparent;border-style: None;" placeholder="price per unit"  type="text" value={{rule.qty_value|floatformat:"-3g"}}>

            <input  style="width:60px ;background-color: transparent;border-style: None" onclick="import_qty_value_currency(this)" value={{rule.qty_value_currency}}  >
          </td>
          
          <td {% if rule.tranche_type == 'NO' or rule.field_type == 'RATE' %}hidden {% endif  %}><!-- Tranche for qty : not available-->
            <span>functionality not activated</span>
          </td>

          <td ><!-- Delete Button-->
            <button  class="btn btn-sm btn-outline-danger" title="delete" onclick="delete_rule(this)" style="border:0px" ><span class="bi bi-trash"></span></button>
          </td>
        </tr>      
        {% endfor %}
        <tr> <!--empty New row-->
          <td onchange="add_new_cp(this)"> <!--Formulation-->
            <div  onclick="import_form_list(this)" class="comboTreeWrapper" >
                <div  class="comboTreeInputWrapper" dd_id="form_{{rule_list|length}}">
                  <input style="background-color:transparent; border-style: None " type="text"  class="justAnInputBox comboTreeInputBox" placeholder="Select" readonly dd_id="form_{{rule_list|length}}" id="item_list_display_form_{{rule_list|length}}">
                  <input   type="text" hidden  id="item_list_form_{{rule_list|length}}" selection_mode=""> 
                </div>
              </div>
          </td>

          <td> <!--Country-->
            <div onclick="import_country_list(this)" class="comboTreeWrapper ">
              <div  class="comboTreeInputWrapper" dd_id="ctry_{{rule_list|length}}">
                <input style="background-color:transparent; border-style: None " type="text"  class="justAnInputBox comboTreeInputBox" placeholder="Select" readonly dd_id="ctry_{{rule_list|length}}" id="item_list_display_ctry_{{rule_list|length}}">
                <input  type="text" hidden  id="item_list_ctry_{{rule_list|length}}" selection_mode=""> 
              </div>
            </div>
          </td>
          
          <td><!--Qty or Rate-->
            <select class="fname"  onchange="qty_rate_tranche_change(this)">
                  <option value="RATE" selected="selected">RATE</option>
                  <option value="QTY" >QTY</option>
            </select>
          </td>

          <td><!--Date From-->
            <input style="background-color:transparent; border-style: None "  type="date" value="1900-01-01">
          </td>

          <td><!--Date To-->
            <input style="background-color:transparent; border-style: None "  type="date" value="2100-01-01">
          </td>

          <td><!--YES/NO Tranche-->
            <select class="fname"  onchange="qty_rate_tranche_change(this)">
                  <option value="NO" selected="selected">NO</option>
                  <option value="YES" >YES</option>
            </select>
          </td>

          <td ><!-- Rate percentage-->
            <input style="width:100%;background-color: transparent;border-style: None;" placeholder="percentage" onchange="convert_percentage(this)" type="number">
          </td>

          <td hidden><!--table for tranches-->
            <table class="table table-striped " style="background-color:white">
              <thead>
                <tr>
                  <th>from</th>
                  <th>to ({{contract.contract_currency}})</th>
                  <th>rate</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0</td>
                  <td onchange="add_row_tranche_rate(this)">
                    <input onchange="new_to_value_tranche_rate(this)" class="number-separator" style="width:100%;background-color: transparent;border-style: None;" placeholder="sales"   type="text">
                  </td>
                  <td>
                    <input style="width:100%;background-color: transparent;border-style: None;" placeholder="percentage" onchange="convert_percentage(this)" type="number">
                  </td>
                  <td >
                    <button   hidden class="btn btn-sm btn-outline-danger" title="delete" onclick="delete_row_tranche_rate(this)" style="border:0px" ><span class="bi bi-trash"></span></button>
                  </td>
                </tr>
              <tbody>
            </table>
          </td>

          <td hidden  style="display:grid; grid-template-columns: auto auto"><!-- Qty amount-->
            <input class="number-separator" style="width:100%;background-color: transparent;border-style: None;" placeholder="price per unit"  type="text">
            <select style="; background-color:transparent; border:None ;width:60px">
              {% for curr in currency_list %}
                {% if contract.contract_currency == curr %}
                  <option value={{curr.currency}} selected="selected">{{curr.currency}}</option>
                {% else %}
                  <option value={{curr.currency}}>{{curr.currency}}</option>          
                {% endif %}
              {% endfor %}
            </select>
          </td>
          
          <td hidden><!-- Tranche for qty : not available-->
            <span>functionality not activated</span>
          </td>

          <td ><!-- Delete Button-->
            <button   hidden class="btn btn-sm btn-outline-danger" title="delete" onclick="delete_rule(this)" style="border:0px" ><span class="bi bi-trash"></span></button>
          </td>
        </tr>
      </tbody>

    </table>

    <!-- new Rule: when the user change the value of the last row (formulation cell), we automatically enter a new row-->
    <table hidden>
      <tbody id="hidden_cp_row"> 
        <tr>
          <td onchange="add_new_cp(this)" >
            <div  class="comboTreeWrapper">
                <div  class="comboTreeInputWrapper" dd_id="form_new_hidden">
                  <input style="background-color:transparent; border-style: None " type="text"  class="justAnInputBox comboTreeInputBox" placeholder="Select" readonly dd_id="form_new_hidden" id="item_list_display_form_new_hidden">
                  <input   type="text" hidden  id="item_list_form_new_hidden" selection_mode=""> 
                </div>
                <div  class="comboTreeDropDownContainer" id="dropdown_form_new_hidden" style="display: none;">
                  <input  type="text" class="multiplesFilter" placeholder="Type to filter" dd_id="form_new_hidden">
                    <ul  >
                      <li class="selection_mode" >
                        <span class="mdi mdi-chevron-down-circle-outline" dd_id="form_new_hidden"></span>
                        <ul hidden>
                          <input type="checkbox" id="select_mode_form_new_hidden"  style="margin-right:5px;" dd_id="form_new_hidden" value="Select all exept:">Select all exept
                        </ul>
                      {% for formulation in formulation_list %}
                        <li   style="display: block;">
                          <input type="checkbox" style="margin-right:5px;"  dd_id="form_new_hidden" ><span>{{formulation.formula_code}}</span><span> : </span><span>{{formulation.formula_name}}</span>
                        </li>
                      {% endfor %}
                    </ul>
                </div>
              </div>
          </td>
          <td>
            <div  class="comboTreeWrapper ">
              <div  class="comboTreeInputWrapper" dd_id="ctry_new_hidden">
                <input style="background-color:transparent; border-style: None " type="text"  class="justAnInputBox comboTreeInputBox" placeholder="Select" readonly dd_id="ctry_new_hidden" id="item_list_display_ctry_new_hidden">
                <input   type="text" hidden  id="item_list_ctry_new_hidden" selection_mode=""> 
              </div>
              <div  class="comboTreeDropDownContainer" id="dropdown_ctry_new_hidden" style="display: none;">
                <input  type="text" class="multiplesFilter" placeholder="Type to filter" dd_id="ctry_new_hidden">
                  <ul  >
                    <li class="selection_mode" >
                      <span class="mdi mdi-chevron-down-circle-outline" dd_id="ctry_new_hidden"></span>
                      <ul >
                          <li  >
                            <input type="checkbox" id="select_mode_ctry_new_hidden"  style="margin-right:5px;" dd_id="ctry_new_hidden" value="Select all exept:">Select all exept
                          </li>
                      </ul>
                    </li>
                    {% for region in region_list %}
                      <li>
                        <span class="bi-arrow-down-circle comboTreeParentPlus" dd_id="ctry_new_hidden" group_id={{region.id}} ></span>
                        <span class="group" dd_id="ctry_new_hidden">{{region.region}}</span>
                        <ul style="display: block;" id='ctry_new_hidden_{{region.id}}'>
                          {% for country in country_list %}
                            {% if country.country_region == region %}
                            <li   style="display: block;">
                              <input type="checkbox" style="margin-right:5px;"  dd_id="ctry_new_hidden" ><span>{{country.country_id}}</span><span> : </span><span>{{country.country}}</span>
                            </li>
                            {% endif  %}
                          {% endfor %}
                        </ul>
                      </li>
                    {% endfor %}
                  </ul>
              </div>
            </div>
          </td>

          <td>
            <select class="fname"  onchange="qty_rate_tranche_change(this)">
                  <option value="RATE" selected="selected">RATE</option>
                  <option value="QTY" >QTY</option>
            </select>
          </td>

          <td>
            <input style="background-color:transparent; border-style: None " type="date" value="1900-01-01">
          </td>
          <td>
            <input style="background-color:transparent; border-style: None " type="date" value="2100-01-01">
          </td>
          <td>
            <select class="fname"  onchange="qty_rate_tranche_change(this)">
                  <option value="NO" selected="selected">NO</option>
                  <option value="YES" >YES</option>
            </select>
          </td>

          <td>
            <input style="width:100%;background-color: transparent;border-style: None;" placeholder="percentage" onchange="convert_percentage(this)" type="number">
          </td>
          <td hidden><!--Tranche of Rate-->
            <table class="table table-striped " style="background-color:white">
              <thead>
                <tr>
                  <th>from</th>
                  <th>to ({{contract.contract_currency}})</th>
                  <th>rate</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0</td>
                  <td onchange="add_row_tranche_rate(this)">
                    <input onchange="new_to_value_tranche_rate(this)" class="number-separator" style="width:100%;background-color: transparent;border-style: None;" placeholder="sales"   type="text">
                  </td>
                  <td>
                    <input style="width:100%;background-color: transparent;border-style: None;" placeholder="percentage" onchange="convert_percentage(this)" type="number">
                  </td>
                  <td >
                    <button   hidden class="btn btn-sm btn-outline-danger" title="delete" onclick="delete_row_tranche_rate(this)" style="border:0px" ><span class="bi bi-trash"></span></button></td>
                  </tr>
              <tbody>
            </table>
          </td>
          <td  hidden style="display:grid; grid-template-columns: auto auto"><!--Qty-->
            <input class="number-separator" style="width:100%;background-color: transparent;border-style: None;" placeholder="price per unit"  type="text">
            <select style="; background-color:transparent; border:None ;width:60px">
              {% for curr in currency_list %}
                {% if contract.contract_currency == curr %}
                  <option value={{curr.currency}} selected="selected">{{curr.currency}}</option>
                {% else %}
                  <option value={{curr.currency}}>{{curr.currency}}</option>          
                {% endif %}
              {% endfor %}
            </select>

          </td>
          <td  hidden><!--transche Qty-->
            <span>functionality not activated</span> 
          </td>
          <td >
            <button hidden   class="btn btn-sm btn-outline-danger" title="delete" onclick="delete_rule(this)" style="border:0px" ><span class="bi bi-trash"></span></button></td>
          </tr>
        <tr>
      </tbody>
    </table>

    <!--new tranche: when the user enter a value in the "to value" of the tranche, a new row is created--> 
    <table hidden>
      <tbody id="hidden_tranche_rate_row">
        <tr>
          <td>0</td>
          <td onchange="add_row_tranche_rate(this)" >
            <input onchange="new_to_value_tranche_rate(this)" class="number-separator" style="width:100%;background-color: transparent;border-style: None;" placeholder="infinity"  type="text">
          </td>
          <td>
            <input style="width:100%;background-color: transparent;border-style: None;" placeholder="percentage" onchange="convert_percentage(this)" type="number">
          </td>
          <td>
            <button  hidden class="btn btn-sm btn-outline-danger" title="delete" onclick="delete_row_tranche_rate(this)" style="border:0px" ><span class="bi bi-trash"></span></button></td>
          </tr>
      <tbody>
    </table>

    <!--when user click on country or formulation table, we import the element ---->
      <!--import formlation list-->
      <div id="import_form_list">
        <div  class="comboTreeDropDownContainer" id="dropdown_form_dynamic" style="display: None;">
          <input  type="text" class="multiplesFilter" placeholder="Type to filter" dd_id="form_dynamic">
            <ul  >
              <li class="selection_mode" >
                <span class="mdi mdi-chevron-down-circle-outline" dd_id="form_dynamic"></span>
                <ul hidden>
                  <input type="checkbox" id="select_mode_form_dynamic"  style="margin-right:5px;" dd_id="form_dynamic" value="Select all exept:">Select all exept
                </ul>
              {% for formulation in formulation_list %}
                <li   style="display: block;">
                  <input type="checkbox" style="margin-right:5px;"  dd_id="form_dynamic" ><span>{{formulation.formula_code}}</span><span> : </span><span>{{formulation.formula_name}}</span>
                </li>
              {% endfor %}
            </ul>
        </div>
      </div>

      <!--import country list-->
      <div id="import_country_list"> 
        <div  class="comboTreeDropDownContainer" id="dropdown_ctry_dynamic" style="display: None;">
          <input  type="text" class="multiplesFilter" placeholder="Type to filter" dd_id="ctry_dynamic">
          <ul  >
            <li class="selection_mode" >
              <span class="mdi mdi-chevron-down-circle-outline" dd_id="ctry_dynamic"></span>
              <ul >
                  <li >
                    <input {% if rule.country_incl_excl == "EXCLUDE" %}checked{% endif %} type="checkbox" id="select_mode_ctry_dynamic"  style="margin-right:5px;" dd_id="ctry_dynamic" value="Select all exept:">Select all exept
                  </li>
              </ul>
            </li>
            {% for region in region_list %}
              <li>
                <span class="bi-arrow-down-circle comboTreeParentPlus" dd_id="ctry_dynamic" group_id={{region.id}} ></span>
                <span class="group" dd_id="ctry_dynamic">{{region.region}}</span>
                <ul style="display: block;" id='ctry_dynamic_{{region.id}}'>
                  {% for country in country_list %}
                    {% if country.country_region == region %}
                    <li   style="display: block;">
                        <input type="checkbox" style="margin-right:5px;"  dd_id="ctry_dynamic" ><span>{{country.country_id}}</span><span> : </span><span>{{country.country}}</span>                            
                    </li>
                    {% endif  %}
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    <!--import currency list-->
    <div id="import_currency_list" style="display: None"> 
      <select style="; background-color:transparent; border:None ;width:60px">
        {% for curr in currency_list %}
            <option value={{curr.currency}}>{{curr.currency}}</option>          
        {% endfor %}
      </select>
    </div>
      
  <!----------------------------------------------------------------------------->
  <!----------------------------------Sales_breakdown_per_contract--------------->
  <!----------------------------------------------------------------------------->

    <div style="display:grid; grid-template-columns: 20px auto">
      <span class="bi-arrow-right-circle " id="unhide_sales_breakdown_table" onclick='unhide_table("sales_breakdown_table")'></span>
      <span hidden class="bi-arrow-down-circle " id="hide_sales_breakdown_table" onclick='hide_table("sales_breakdown_table")'></span>
      <h5 >Breakdown of sales in invoice reporting</h5>
    </div>
    <table hidden class="table table-striped table-sm" id="sales_breakdown_table"  style="max-width: 500px">
      <thead>
        <tr style="border-top: hidden" >
          <th style="color:transparent">:</th>
          <th colspan="3" style="text-align: end; color:green" id="saved_message_breakdown"></th>
        </tr>
        <tr >
          <th hidden></th>
          <th>In import file</th>
          <th>In contract report</th>
          <th style="width: 30px">
            <button   class="btn btn-sm btn-outline-success" title="save" onclick="save_invoice_breakdown({{contract.id}})" style="border:0px" ><span class="bi bi-save2-fill"></span></button>
          </th>
        </tr>
      </thead>
      
      <tbody>
        {% for item in sales_breakdown_list %}
        <tr> 
          <td hidden>{{item.id}}</td>
          <td >{{item.sales_breakdown_definition}}</td>
          <td colspan="2" >
            <input style="width:100%;background-color: transparent;border-style: None;" placeholder="N/A" type="text" value="{{item.sales_breakdown_contract_definition}}">
          </td>
        </tr>
        {% endfor%}
      </tbody>
    </table>






{% load static %}
<script src="{% static 'royalty_app/rules.js'%}"></script>
<script src="{% static 'royalty_app/dropdown_multiple.js'%}"></script>
<link rel="stylesheet" href="{% static 'royalty_app/style.css'%}">

<script src="{% static 'royalty_app/easy-number-separator.js'%}"></script>

{% endblock %}


  