{% extends "royalty_app/layout.html" %}
{% block content %}




<div class=" pb-2 mb-3 border-bottom" style="display: flex" >
  <h1 class="h2">Partners</h1>
  <span style="padding-top:16px">(currently used in the system)</span>
</div>
  

  <!------------------------------------------------------------------------------------->   
  <!---------------------------Partners Table-------------------------------------------->   
  
<!----setting to unhide/hide column--->  
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom" >
    <div>{% if user.role == "VALIDATOR"%}<a   href="{% url 'partners_to_validate' %}"  target="_blank">{{message_validator}}{%endif%}<a></div>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary" type="button" onclick="column_sel()" title="column selection" ><span class="bi bi-gear"></span> </button>
      </div>
      <div class="btn-group mr-2">
        <a class="btn btn-sm btn-outline-secondary" href="/export/partner"><span class="bi bi-download"></span> download </a>
      </div>

    </div>
  </div> 
  <div id="column_selection" style=" display:none" >
    <table class="table table-striped table-sm" id="beneficiary_table" >
      <thead>
        <tr >
          <th  > </th>
          <th ></th>
        </tr>
      </thead>
      <tbody>

        <tr >
          <td ><input type="checkbox" checked value=1 onclick="column_visibility(this,1)"></td>
          <td >Partner Code</td>
          <td ><input type="checkbox" checked value=2 onclick="column_visibility(this,2)"></td>
          <td >Name</td>
          <td ><input type="checkbox" checked value=3 onclick="column_visibility(this,3)"></td>
          <td >ICO-3rd</td>
         </tr >
         <tr >
          <td ><input type="checkbox" checked value=4 onclick="column_visibility(this,4)"></td>
          <td >Country</td>
          <td ><input type="checkbox" checked value=5 onclick="column_visibility(this,5)"></td>
          <td >Bank account</td>
          <td ><input type="checkbox" checked value=6 onclick="column_visibility(this,6)"></td>
          <td >Payment type</td>

        </tr>
        
      </tbody>
    </table>
  </div> 


    <div class="table-responsive">
      <table class="table table-striped table-sm " id="partners_table" style="width: 100%;">
        <thead>
          <tr class="search_box_class">
            <th style="padding-left:8px"><input  id="column0_search"  class="fname2" placeholder="..." column=0> </th>
            <th style="padding-left:8px"><input  id="column1_search"  class="fname2" placeholder="..." column=1> </th>
            <th style="padding-left:8px"><input  id="column2_search"  class="fname2" placeholder="..." column=2>  </th>
            <th style="padding-left:8px"><input  id="column3_search"  class="fname2" placeholder="..." column=3> </th>
            <th style="padding-left:8px"><input  id="column4_search"  class="fname2" placeholder="..." column=4> </th>
            <th style="padding-left:8px"><input  id="column5_search"  class="fname2" placeholder="..." column=5> </th>
            <th style="padding-left:8px"><input  id="column6_search"  class="fname2" placeholder="..." column=6> </th>
            <th style="padding-left:8px"></th>
          </tr>
          <tr style="height:65px">
            <th id="partner_id" style="padding-left: 8px; width:20px">ID  </th>
            <th id="partner_M3" style="padding-left: 8px;max-width:90px">Partner Code</th>
            <th id="partner_name" style="padding-left: 8px;">Name</th>
            <th id="partner_name" style="padding-left: 8px;">Ico-3rd</th>
            <th id="partner_country" style="padding-left: 8px;">Country</th>
            <th style="padding-left: 8px;">Bank account</th>
            <th style="padding-left: 8px;">Payment type</th>
            <th ></th>
          </tr>
        </thead>

        <tbody id="tbody_partner">
          {% for partner in partner_list %}
            <tr id="partner_{{partner.id}}" partner_id={{partner.id}}> 
              <td><!--ID-->
                <span class="fname" partner_id={{partner.id}} id="id_{{partner.id}}" >{{partner.id}}</span>
              </td>
              <td><!--M3 Code-->
                <span >{{partner.partner_m3_code}}</span>

              </td>
              <td><!--Name-->
                <span >{{partner.partner_name}}</span>
              </td>
              <td ><!--Ico_3rd-->
                <span hidden=true id="span_ico_3rd_{{partner.id}}">searched_value:{{partner.ico_3rd}}</span>
                <span >{{partner.ico_3rd}}</span>
              </td>

              <td><!--Country-->
                <span hidden=true  id="span_country_{{partner.id}}">searched_value:{{partner.partner_country.country_id}} </span>
                <span >{{partner.partner_country.country_id}}</span>
              </td>
              <td><!--Bank-->
                <span >{{partner.partner_bank_account}}</span>
                </td>
              <td><!--payment ype-->
                <span hidden=true id="span_payment_type_{{partner.id}}">searched_value:{{partner.partner_payment_type}} </span>
                <span >{{partner.partner_payment_type}}</span>
              </td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>     
      </table>
    </div>

 





{% load static %}
  
    <link rel="stylesheet" href="{% static 'royalty_app/style.css'%}">
    <script src="{% static 'royalty_app/dropdown_single.js'%}"></script> 
    <script src="{% static 'royalty_app/partner.js'%}"></script> 


{% endblock %}

